* {
    font-family: "Montserrat", sans-serif;
}

main {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner {
    position: relative;
    height: 100vh;
    background-image: url('../images/scropion-bg-4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

header {
    padding: 10px 0;
    position: fixed;
    height: auto;
    background-color: rgba(0, 0, 0, 0.356);
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 1);
}

header img {
    width: 5rem;
}

.title-container {
    z-index: 20;
}

.banner h1 {
    color: white;
    font-size: 5rem;
}

.title-container h2 {
    color: rgb(172, 172, 172);
    font-size: 4rem;
    font-weight: 200;
    margin-left: 15px;
}

.title img {
    width: 6rem;
}

.text {
    color: rgb(129, 129, 129);
    font-size: 1.2rem;
    z-index: 2;
    font-weight: 700;
}

.nav-item a {
    color: rgb(160, 3, 199);
    font-weight: 600;
    font-size: 1.1rem;
}

.nav-item a:hover {
    color: rgb(160, 3, 199);
    box-shadow: rgba(160, 3, 199, 0.459) 2px 2px 20px 10px, rgba(225, 0, 255, 0.829) 0px 8px 16px -8px;
}

div.line {
    height: 2px;
    background-color: gray;
    width: 43vw;
    z-index: 2;
    margin: 20px 0;
}

.characters {
    height: auto;
    padding: 5rem 0;
}

.image-initial {
    width: 450px;
}

.characters h2 {
    font-size: 2rem;
}

.characters p {
    margin-bottom: 2rem;
    color: rgb(129, 129, 129);
}

.container-characters {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.character-div {
    border: 2px solid rgba(160, 3, 199, 0.699);
    width: 12rem;
    height: 18rem;
}

.character-div:hover {
    box-shadow: rgba(160, 3, 199, 0.459) 2px 2px 20px 10px, rgba(225, 0, 255, 0.829) 0px 8px 16px -8px;
}

.kitana {
    background-image: url("../images/kitana.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.kratos {
    background-image: url("../images/kratos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150% 100%;
}

.kung-lao {
    background-image: url("../images/kung-lao.jpg");
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: 200% 100%;
}

.sindel {
    background-image: url("../images/sindel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180% 100%;
}

.scorpion {
    background-image: url("../images/scorpion.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 150% 100%;
}

.sub-zero {
    background-image: url("../images/sub-zero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


#characterImage {
    max-height: 500px;
}

.about {
    position: relative;
    height: 90vh;
    background-image: url('../images/scenario-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    padding: 30px 0;
}

.about h2 {
    font-size: 5rem;
    width: 90%;
    text-align: left;
}

.about-text {
    width: 50%;
}

.about-text p {
    text-align: justify;
    color: rgb(129, 129, 129);
}

.about .line {
    width: 40rem;
}

.about img {
    width: 35rem;
}

.about button {
    background-color: rgb(48, 48, 48);
    color: white;
    font-weight: 500;
    border: 0;
    padding: 10px 30px;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.about div {
    z-index: 200;
}

.characteristics {
    position: relative;
    color: white;
    padding: 30px 0;
    height: 90vh;
    background-image: url('../images/background-scorpio-2.jpg');
    background-position: -100px;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
}

.characteristics::before {
    filter: blur(5px);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

strong {
    color: rgba(215, 56, 255, 0.699);
}

.tex-characteristics {
    width: 50%;
}

.tex-characteristics p, ul {
    color: rgb(129, 129, 129);
    text-align: justify;
}

.characteristics h2 {
    font-size: 5rem;
    text-align: left;
}

.contacts {
    position: relative;
    height: 90vh;
    background-image: url('../images/raiden-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contacts::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: 1;
}

.form{
    color: white;
    width: 50%;
    z-index: 2000;
}

footer{
    background-color: black;
    color: white;
    padding: 50px 0;
}

footer .footer-text a{
    color: rgba(215, 56, 255, 0.699);
}

@media screen and (max-width: 991px) {
    .character-div {
        border: 2px solid rgba(160, 3, 199, 0.699);
        width: 8rem;
        height: 10rem;
    }

    #characterImage {
        max-height: 300px;
        margin-bottom: 20px;
    }
}